@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/GeneralSans-Semibold-subset.woff2') format('woff2');
}

/* Ahora puedes usar 'General Sans' en otros estilos */
body {
  font-family: 'General Sans', -apple-system, BlinkMacSystemFont, sans-serif;
}

.loginDesign {

  height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
  gap: 0.1em;
}


.contentInput {
  height: 30em;
  width: 40em;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button {

  height: 3em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleLogin {
  font-size: 2em;
}

.createAccount {
  height: 1em;
  width: 16em;
  gap: 3em;
}

.divInputs {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.containerDesign {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.MuiContainer-root {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
}
