@font-face {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/GeneralSans-Semibold-subset.woff2') format('woff2');
}

.registerDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color:  whitesmoke;}

.contentRegister{
    gap: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.titleRegister {
  font-size: 2em;
}

.inputCardRegister{
  height: 30em;
  width: 40em;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.divInputs{
display: flex;
gap: 0.4em !important;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}
