.profileDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(27, 245, 172);
}

.deleteAccount{
    height: 2em;

   cursor: pointer;
}

.deleteAccount:hover{
    background-color: red;
}