.homeDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image:url(../../img/Home.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

  
  .logoFamily {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .imgLogo:hover .logoFamily {
    transform: scale(1.1); 
  }
