.card-artist {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    perspective: 50em;
    transition: all 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #a79c9c;
    width: calc(33.33% - 1em);
    margin-bottom: 1em;
    cursor: pointer;
  }
  
  .card-artist:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
  
  .card-artist-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.25em;
    box-sizing: border-box;
    background-color: #000000;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-artist:hover .card-artist-content {
    transform: rotateX(-9deg);
  }
  
  .card-artist-title {
    margin: 0;
    font-size: 3em;
    color: #ffffff;
    font-weight: 700;
  }
  
  .card-artist-description {
    margin: 0.6em 0 0;
    font-size: 1;
    color: #ffffff;
    line-height: 1.4;
  }
  
